.quarter-circle {
    width: 280px;
    height: 140px;
    background-color: #f2f2f2;
    border-radius: 0 0 100% 0;
    position: relative;
    overflow: hidden;
}

.quarter-circle-2 {
    width: 280px;
    height: 250px;
    background-color: grey;
    border-radius: 00% 100% 00% 00%;
    position: relative;
    overflow: hidden;
}

.quarter-circle-3 {
    width: 450px;
    height: 250px;
    background-color: #996515;
    border-radius: 100% 00% 00% 00%;
    position: relative;
    overflow: hidden;
}


/* masonry grid...section 2 & 3 */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.main h1 {
    position: relative;
    height: auto;
    width: 550px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0 2% 0;
    text-align: center;
    font-size: 2.8em;
    font-weight: 650;
    letter-spacing: 1.5px;
    color: #017bf5;
    border-left: 5px solid #017bf5;
    border-right: 5px solid #017bf5;
    /* background: rgba(0, 0, 0, 0.05); */
}

.main p {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.main .gallery {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*i write auto four time because we want four rows*/
    grid-gap: 1vh;
    grid-auto-flow: dense;
}

.main .gallery .img {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
    border-radius: 1px;
}

.main .gallery .img:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.main .gallery .img:nth-child(2n+3) {
    grid-row-start: span 2;
}

.main .gallery .img:nth-child(4n+5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.main .gallery .img:nth-child(6n+7) {
    grid-row-start: span 1;
}

.main .gallery .img:nth-child(8n+9) {
    grid-column-start: span 1;
    grid-row-start: span 1;
}

.main .gallery .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* filter: brightness(0.5) grayscale(100); */
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

.main .gallery .img:hover img {
    /* filter: brightness(1) grayscale(0); */
}

@media only screen and (max-width: 768px) {
    .main h1 {
        font-size: 1.8em;
        width: 400px;
    }

    .main p {
        font-size: 1.2em;
    }

    .main .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 430px) {
    .main h1 {
        font-size: 1.2em;
        width: 300px;
    }

    .main p {
        font-size: 0.89em;
    }

    .main .gallery {
        display: block;
    }

    .main .gallery .img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 2% 0;
    }

    .main .gallery .img img {
        display: block;
        filter: brightness(1) grayscale(0);
    }
}


/* masonry grid...section 2 & 3 */

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: px solid white; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: -45px;
    background-color: brown;
}


/* .clients { */


/* width: 700px; */


/* height: 700px; */


/* border-radius: 50%; */


/* border: px solid white; */


/* background-size: cover; */


/* background-position: center; */


/* background-repeat: no-repeat; */


/* margin-left: 25%; */


/* background-color: brown; */


/* margin-top: -200px; */


/* } */


/* clients  */


/* .quarter-circle { */


/* position: absolute; */


/* bottom: 0; */


/* left: 0%; */


/* width: 1000px; */


/* height: 900px; */


/* background-color: #f5f5f5; */


/* border-radius: 00px 100% 00px 00px; */


/* } */


/*  */


/* .image-container { */


/* position: relative; */


/* display: inline-block; */


/* } */

.quarter-circle img {
    /* height: 100px; */
    /* width: 200px; */
}

/* .quarter-circle { */
/* width: 1000px; */
/* height: 1000px; */
/* border-radius: 00px 100% 00px 00px; */
/* border-radius: 0 100% 0 0; */
/* background-color: white; */
/* overflow: hidden; */
/* position: relative; */
/* margin-top: -800px; */
/* } */

.quarter-circle img {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 20%;
    height: 20%;
    /* object-fit: cover; */
}


/* clients 2  */

.dj {
    background-image: url(./img/dj.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* our services */
.ours {
    height: 550px;
    background-image: url(./img/dj.jpg);
    background-size: cover; /* Make the image cover the container */
    background-repeat: no-repeat; 
}

.solid-white-line {
    width: 85%; /* Adjust the width of the line as needed */
    margin-left: auto;
    margin-right: auto;
    height: 2px; /* Adjust the height of the line as needed */
    background-color: white; /* Set the line color to white */
}

/* Style for the rectangle */
.rectangle {
    width: 500px;
    height: 330px;
    /* background-color: #3498db; */
    /* Rectangle background color */
    border: 2px solid #2980b9;
    /* Rectangle border color */
    padding: 40px;
    margin: 50px auto;
    border-width: 5px;
    border-color: white;
}
/* Style for the first heading inside the rectangle */
.heading1 {
    font-family: Arial, sans-serif;
    font-size: 44px;
    color: #fff;
}

/* Style for the second heading inside the rectangle */
.heading2 {
    color: skyblue;
    font-size: 44px;

}
.heading3 {
    font-size: 44px;
    color: orangered;

}
.heading4 {
    font-size: 44px;
    color: white;
}

/* our services */
/* fiddle */
/*new*/
.box {
    /* width: 150px; */
    /* height: 75px; */
    /* background-color: black; */
    /* color: #fff; */
    padding: 20px;
    position: relative;
    margin: 40px;
    float: left;
  }
  .box.arrow-right:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid black;
    border-bottom: 15px solid transparent;
  }
  
/* fiddle */
.fiddle2 {
    /* background:#ff004e; */
    /* padding:80px; */
}
.fiddle {
    background: lime;
    /* border-radius: 10px; */
    width:432px;
    height:333px;
    position: relative;
    display: inline-block;
}
.fiddle:before {
    content:"";
    /* position: absolute; */
    /* height: 0px; */
    /* width: 0px; */
    /* top: 60px; */
    /* left: -29px; */
    /* right: 79px; */
    /* border-width: 15px; */
    /* border-color: transparent grey transparent transparent; */
    /* border-style: solid; */
}

#pointer{border:solid 30px transparent;border-left-color: lime;position:absolute;margin:-145px 0px 0px 432px;}